.form {
  margin-top: 48px;
  background-color: white;
  border-radius: 28px;
  box-shadow: 0px 2px 4px 0px #00000033;
  padding: 32px;
}

.customize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading amount"
    "label amount";
  max-width: 100%;
  width: 100%;
}

.customize__heading {
  grid-area: heading;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.customize__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.customize__step {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-width: 80px;
}

.customize__label {
  grid-area: label;
  margin-top: 32px;
}

.div {
  width: 1px;
  height: 100%;
  border-left: 1px dashed #80808066;
  margin: 0 40px;
}

.customize-amount {
  grid-area: amount;
  display: flex;
}

.customize__amount-title,
.contact-info__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.customize__amount-value {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.contact-info {
  margin-top: 32px;
  margin-bottom: 24px;
}

.contact-info__inputs {
  margin-top: 26px;
  flex: 1 0 250px;
  width: 100%;

  flex-grow: 1;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.label-wrapper {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1a202c;
  display: inline-block;
  width: 100%;
  flex: 1 0 230px;
}

.end-form {
  border: 1px solid #5b35d5;
  border-radius: 10px;
  width: 100%;
  margin-top: 48px;
  padding: 24px 24px 34px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-form__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
  color: #1c1c1e;
}

.end-form__description {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.92px;
  text-align: center;
  color: #4f5665;
  margin-top: 32px;
}

@media screen and (max-width: 600px) {
.form{
  padding: 25px;
}

  .customize {
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading"
      "label"
      "amount";
    max-width: 100%;
    width: 100%;
  }
  .customize-amount {
  display: flex;
  flex-direction: column;
}
  .div {
    width: 100%;
    height: 1px;
    border-top: 1px dashed #80808066;
    margin: 10px 0;
  }
  .customize__title {
  font-size: 25px;
  line-height: 30px;
}

.customize__step {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  min-width: 70px;
}
}
