.loan-document {
  box-shadow: 0px 2px 4px 0px #00000033;
  border-radius: 28px;
  background-color: white;
  padding: 32px;
  margin-top: 24px;
}

.heading__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 44.22px;
  color: #1c1c1e;
}

.heading__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 23.58px;
}
